<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 62%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.loginbtn{
  width :20%;
  padding: 14px 20px;
}
.cancelbtn {
    width: 20%;
    background-color: #f44336

}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 50%;
    border-radius: 50%;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>
<body>

<p><a href="index.html">Back</a></p>
<div class="container">
  
<h2><center>Signup Form</h2></center>

<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="img/header-bg (2).jpg" alt="Mountain View" width="200" height="500">
  </div>

  <div class="container">
     <center> <label for="email"><b>User Name</b></label>
     <center> <input type="text" placeholder="Enter Username" name="Username" required></center>

      <label for="email"><b>Email</b></label>
     <center> <input type="text" placeholder="Enter Email (eg: abc@xyz.com)" name="email" required></center>

      <label for="psw"><b>Password</b></label>
     <center> <input type="password" padding="20px" placeholder="Enter Password(Should contain atleast one number)" name="psw" required></center>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <center><input type="password" placeholder="Repeat Password(Should contain atleast one number)" name="psw-repeat" required></center>

            <label for="mobilenumber"><b>Mobile Number</b></label>
      <center><input type="text" placeholder="Enter your 10 digit Mobile number" name="Mobile Number" required></center>
      <label>
     <center> <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p></center>

    <center><button type="submit" class="loginbtn">Signup</button></label>
    <label>
    <button  type="button" class="cancelbtn" align="center"  href="index.html">Cancel</button></center>
    <p><center><a href=".html">or Login</a></center></p></center>

  </div>
</form>



</body>
</html>
